<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <title>Tim Carlson</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="container">
        <div class="logo">
            <svg width="400" height="400">
                <clipPath id="cut-off-left-side">
                    <rect x="0" y="0" width="200" height="400" />
                </clipPath>
                <clipPath id="cut-off-right-side">
                    <rect x="200" y="0" width="200" height="400" />
                </clipPath>
                <circle class="c" cx="200" cy="200" r="150" stroke="black" stroke-width="20" fill="white" clip-path="url(#cut-off-right-side)" />
                <circle class="d" cx="200" cy="200" r="150" stroke="black" stroke-width="20" fill="white" clip-path="url(#cut-off-left-side)" />
                <rect class="d" x="190" y="45" width="20" height="310" />
                <rect x="40" y="45" width="20" height="310" />
                <rect x="340" y="45" width="20" height="310" />
                <rect x="0" y="40" width="400" height="20" />
                <rect x="0" y="340" width="400" height="20" />
            </svg>
            <div id="titlediv" class="fulljustify">
                DONALD TIMMS CARLSON III
            </div>
        </div>
    </div>
    <script src=""></script>
</body>

</html>
